services:
  {{ wordpress_name }}:
    image: {{ wordpress_image }}
    container_name: {{ wordpress_name }}
    depends_on:
      - {{ database_name }}
    ports:
      - "{{ wordpress_host_port }}:9000"
    volumes:
      - {{  wordpress_web_data }}:/var/lib/wordpress
      - ./config:/etc/wordpress
      - ./addons:/mnt/extra-addons
    environment:
      - HOST= {{ database_name }}
      - USER={{ database_username }}
      - PASSWORD={{ database_password }}
  {{ database_name }}:
    image: {{ database_image }}
    container_name: {{ database_name }}
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD={{ database_password }}
      - POSTGRES_USER={{ database_username }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - {{ wordpress_db_data }}:/var/lib/postgresql/data/pgdata

volumes:
  {{ wordpress_web_data }}:
  {{ wordpress_db_data }}: